@import '../../../assets/scss/main.scss';
@import '../../../assets/scss/_fonts.scss';

.search {
    position: absolute;
    bottom: -120px;
    left: 70px;
    background: #191919;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 35px 86px;
    width: 1115px;
    height: 169px;
    margin: 0 auto;

    &__title {
        font-family: 'Rotterburg Stylish FREE';
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 34px;
        color: #C9AC8C;
        text-align: center;
        margin: 0 0 13px 0;
    }
    &__box {
        @include d-flex;
    }
    &__input {
        background: #404040;
        border-radius: 15px;
        font-family: 'Steinbeck';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.3);
        padding: 15px 0 15px 27px;
        width: 80%;
        border: none;
        outline: none;
    }
    &__input:focus {
        color: #C9AC8C;
    }
    &__btn {
        background: #C9AC8C;
        border-radius: 15px;
        font-family: 'Steinbeck';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #3C2710;
        padding: 15px 45px;
        @include d-flex;
        margin: 0 0 0 15px;
    }
}
