@import '../../assets/scss/main.scss';
@import '../../assets/scss/_fonts.scss';

.hero {
    width: 1262px;
    height: 347px;
    margin: 54px auto 36px auto;
    background: linear-gradient(89.16deg, #263A3D 70.78%, rgba(25, 25, 25, 0) 105.05%);
    border-radius: 21px;
    &__inner {
        width: 100%;
        height: 100%;
    }
    &__list {
        border-radius: 21px;
        padding: 45px 0 0 86px;
        width: 1262px;
        height: 347px;
        @include style-none;
        @include d-flex;
        overflow: hidden;
    }
    &__item {
        border-radius: 21px;
        padding: 45px 0 0 86px;
        width: 100%;
        height: 100%;
    }
    &__title {
        font-family: 'Rotterburg Stylish FREE';
        font-style: normal;
        font-weight: 400;
        font-size: 61px;
        line-height: 67px;
        width: 30%;
        color: #C9AC8C;
    }
    &__search {
        position: relative;
  
    }
    
}

